html{
    height: 100%;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    margin: 2vh;
    color:palevioletred;
}
body{
    margin: 0;
    background-image: linear-gradient(to right, rgb(28, 41, 84), rgb(81, 30, 59));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    height: 100%;
}
#h{
    display: flex;
    flex-direction: row;
    justify-content: center;
 
    width: 100%;
    margin: 0;
    padding: 0;
}
#island{
    margin: 0;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    width: 60vw;
    height: 75vh;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;

    
}
#login{
    display:flex;
    flex-direction: column;
    padding: 0;
}
#continue{
    margin: 0;
}
.sign{
    border: 1px rgb(5, 2, 45) solid;
    background-color: white;
    height: 5vh;
    width: 7vw;
    margin: 1vh;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
}
input{
    background-color: rgb(182, 214, 224);
    border: 0;
    height: 4vh;
    width: 25vw;
}
button{
    margin: 2vh;
    width: 6vw;
    background-color: palevioletred;
    border: 0;
    color: white;
    padding: 1vh;
    border-radius: 25px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
.left{
    padding: 5vh;
}
.right {
    position: relative;  /* container for stacking */
    height: 100%;
    padding: 0;
    width: 100%;
}

.ian {
    position: absolute;
    width: 25vw;
    height: auto;
    z-index: 2;   /* on top */
}
#blue {
    background-color: rgb(182, 214, 224);
    width: 15vw;
    height: 100%;  /* fill full height */
    position: absolute;
    right: 0;      /* anchor it to the right side */
    top: 0;
    border-radius: 25px;
    color:rgba(182, 214, 224, 0);
}